*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.subheader{
    height: 30px;
    width: 100%;
    background-color: rgb(25, 91, 212);
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.subheader p{padding-left: 20px;
    font-size: 16px;
    color: rgb(252, 225, 225);
}

.navbarbgcolor{
    color: whitesmoke;
    background: rgb(46, 4, 72);
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.Navbtn{
    color: whitesmoke;
}
.btnlogin{
    padding: 5px;
    outline: none;
    background-color: rgb(218, 32, 32);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btnlogin:hover{
    background-color: rgb(116, 19, 19);
 }

@media (max-width: 420px) {
    .subheader p{
        font-size: 12px;
    }
}